.c-full-index {
  margin-left: 0;

  &,
  ol,
  ul {
    counter-reset: item;
  }

  li {
    display: block;

    &::before {
      content: counters(item, '.') ' ';
      counter-increment: item;
    }
  }
}
