*.swp
.sass-cache
/.bundle
**/.idea/
/.vagrant
/app/*
!/app/.gitkeep
!/app/probe.htm
/node_modules
/kss_theme/css
/kss_theme/chroma-kss-markup.hbs
.DS_Store
bower_components
npm-debug.log
yarn-error.log
tests/js/vendor
tests/js/components
tests/js/*.html
tests/js/**/*.html
ua_theme/js/contrib/chai
ua_theme/js/contrib/mocha
home_page/
/.bash_history
/.mysql_history
/.viminfo
/.ssh/
/.composer/
/.node_repl_history
/.npm
/.v8flags*
/.vscode
