<div class="o-profile__row">
  <div class="o-profile__full">
    <a href="static-researcher.html" class="c-btn c-btn--hollow"><i class="fa fa-fw fa-chevron-left"></i> Back to search</a>
  </div>
</div>

<div class="o-profile__row">
  <div class="o-profile__left">
    <figure class="c-image is-full-width">
      <img src="//researchers.adelaide.edu.au/sites/default/files/profile-images/2319.jpeg" alt="" class="c-image--full-width" style="width: 100%;">
    </figure>
  </div>

  <div class="o-profile__right">
    {{> body}}
  </div>
</div>
