$foundation-palette: (
  primary: #005a9c,
  secondary: #d40000,
  tertiary: #dde5ee,
  quaternary: #b38808,
  quinary: #666,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$light-primary: lighten(get-color(primary), 12);
$lighter-primary: lighten(get-color(primary), 64);
$lighter-gray: #f5f5f5;
$light-gray: #f1f1f1;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$darker-gray: get-color(quinary);
$black: #000;
$white: #fff;

$brand-dark-blue: #102535;


@include add-foundation-colors;
