<footer class="footer-nav row expanded collapse">
  <div class="footer-nav-left">
    <p class="footer-copyright">© 2017 University of Adelaide</p>
  </div>
  <div class="footer-nav-center">
    <ul class="footer-nav-menu">
      <li class="footer-nav-menu-item">
        <a href="/">Menu</a>
      </li>
      <li class="footer-nav-menu-item">
        <a href="/">Menu</a>
      </li>
      <li class="footer-nav-menu-item">
        <a href="/">Menu</a>
      </li>
      <li class="footer-nav-menu-item">
        <a href="/">Menu</a>
      </li>
      <li class="footer-nav-menu-item">
        <a href="/">Menu</a>
      </li>
    </ul>
  </div>
  <div class="footer-nav-right">
    <ul class="footer-nav-menu-icons">
      <li class="footer-nav-menu-item">
        <a href="{{root}}"><img class="footer-social-icon" src="{{root}}assets/img/icons/email-icon.svg" alt=""></a>
      </li>
      <li class="footer-nav-menu-item">
        <a href="{{root}}"><img class="footer-social-icon" src="{{root}}assets/img/icons/facebook-icon.svg" alt=""></a>
      </li>
      <li class="footer-nav-menu-item">
        <a href="{{root}}"><img class="footer-social-icon" src="{{root}}assets/img/icons/twitter-icon.svg" alt=""></a>
      </li>
      <li class="footer-nav-menu-item">
        <a href="{{root}}"><img class="footer-social-icon" src="{{root}}assets/img/icons/youtube-icon.svg" alt=""></a>
      </li>
    </ul>
  </div>
</footer>
