<!-- Info Banner For Announcements or Links -->
<a href="" id="notice">
  <div class="info">
    <div id="clockdiv" class="countdown">
      <span class="timer-day days"></span>
      <span class="timer-colon">:</span>
      <span class="timer-hour hours"></span>
      <span class="timer-colon">:</span>
      <span class="timer-hour minutes"></span>
      <span class="timer-colon">:</span>
      <span class="timer-seconds seconds"></span>
    </div>
  </div>
</a>

<!-- Info Banner For Announcements or Links -->
<a href="https://gitlab.adelaide.edu.au/web-team/ua-styleguide-theme" class="notice">
  <div class="info">
    <h5><strong>Style guide 2<span class="hide-for-small-only"> is out now!</strong></span></h5>
  </div>
</a>