<!-- IMAGE AND TEXT SLIDE -->
<li data-transition="fade" data-link="//adelaide.edu.au" data-slideindex="front">
    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
    <img src="assets/img/dummy.png"  alt="" 
      data-lazyload="assets/img/notgeneric_bg3.jpg" 
      data-bgposition="center bottom" 
      data-bgfit="cover" 
      data-bgrepeat="no-repeat" 
      data-bgparallax="15"
      class="rev-slidebg" data-no-retina>
    <!-- TEXT LAYER -->
    <div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
      data-x="left" 
      data-y="center" 
      data-hoffset="30" 
      data-voffset="-80" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="font-size:80px;line-height:85px;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;"
      >Main heading</div>
      <!-- TEXT LAYER -->
    <div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
      data-x="left" 
      data-y="center" 
      data-hoffset="30" 
      data-voffset="0" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="font-size:36px;line-height:40px;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;"
      >Secondary heading</div>
    <!-- BUTTON LAYER -->
    <div class="tp-caption tp-resizeme c-btn c-btn--secondary rs-parallaxlevel-8"
      data-x="left" 
      data-y="center" 
      data-hoffset="30" 
      data-voffset="80" 
      data-width="auto" 
      data-height="auto"
      data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
      style="font-size: 1rem;font-family:sans-serif;"
      >Button</div>

      {{#if slider-fullscreen}}
      {{> static-slider-scrollbelow}}
      {{/if}}
  </li>
  