<!-- DISTORTION SLIDE -->
<li data-index="rs-647" 
  data-transition="fade" 
  data-slotamount="default" 
  data-hideafterloop="0" 
  data-hideslideonmobile="off"  
  data-easein="default" 
  data-easeout="default" 
  data-masterspeed="300"  
  data-rotate="0"  
  data-saveperformance="off"  
  data-title="Slide" 
  data-description="" 
  data-liquideffect='{"image":"assets\/video-slider\/add-ons\/distortion\/images\/bwmap2.jpg","imagesize":"2273|1278","autoplay":true,"scalex":2,"scaley":2,"speedx":0,"speedy":0,"rotationx":0,"rotationy":0,"rotation":0.2,"transtime":2000,"easing":"Power3.easeOut","transcross":true,"transpower":false,"transitionx":2,"transitiony":2,"transpeedx":0,"transpeedy":0,"transrotx":0,"transroty":0,"transrot":0,"interactive":true,"event":"mousemove","mobile":true,"intertime":300,"intereasing":"Power2.easeOut","interscalex":0,"interscaley":0,"interotation":0.4,"interspeedx":0,"interspeedy":0}'>
  <!-- MAIN DISTORTION IMAGE -->
  <img src="assets/img/dummy.png" alt="" 
    data-lazyload="assets/video-slider/assets/distort_14.jpg" 
    data-bgposition="center center" 
    data-bgfit="cover" 
    data-bgrepeat="no-repeat" 
    data-bgparallax="15"
    class="rev-slidebg" data-no-retina>

  <!-- TEXT LAYER -->
  <div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-8" 
    id="slide-1708-layer-1" 
    data-x="center" 
    data-hoffset="0" 
    data-y="middle" 
    data-voffset="-29" 
    data-fontsize="30"
    data-lineheight="[30"
    data-width="none"
    data-height="none"
    data-whitespace="nowrap"
    data-type="text" 
    data-responsive_offset="on" 
    data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
    data-textAlign="left"
    data-paddingtop="10"
    data-paddingright="0"
    data-paddingbottom="10"
    data-paddingleft="0"
    style="z-index: 7; white-space: nowrap; font-size: 50px; line-height: 50px;text-transform:left;"
    >LOOKING FOR SOMETHING? </div>

  <!-- TEXT LAYER -->
  <div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-8" 
    id="slide-1708-layer-4" 
    data-x="center" 
    data-hoffset="0" 
    data-y="middle" 
    data-voffset="7" 
    data-width="none"
    data-height="none"
    data-whitespace="nowrap"
    data-type="text" 
    data-responsive_offset="on" 
    data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
    data-textAlign="left"
    data-paddingtop="0"
    data-paddingright="0"
    data-paddingbottom="0"
    data-paddingleft="0"
    style="z-index: 8; white-space: nowrap;text-transform:left;"
    >DO THE SEARCH SEARCH </div>

  <!-- FORM LAYER -->
  <div class="tp-caption NotGeneric-CallToAction rs-parallaxlevel-8" 
    id="slide-1708-layer-11" 
    data-x="center" 
    data-hoffset="0" 
    data-y="middle" 
    data-voffset="50" 
    data-width="500px"
    data-height="none"
    data-whitespace="nowrap"
    data-type="text" 
    data-responsive_offset="on" 
    data-responsive="off"
    data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power2.easeInOut"}]'
    data-textAlign="left"
    data-paddingtop="0"
    data-paddingright="0"
    data-paddingbottom="0"
    data-paddingleft="0"
    style="z-index: 9;white-space: nowrap;text-transform:left;border-color:rgba(255, 255, 255, 0);border-style:none;cursor:default;">
    <div class="c-form__input-group">
      <input class="c-form__input-group-field" type="url" placeholder="Type something">
      <div class="c-form__input-group-button">
        <button class="c-form__button" type="submit" title="Search">Search</button>
      </div>
    </div>
    </div>

{{#if slider-fullscreen}}
{{> static-slider-scrollbelow}}
{{/if}}
</li>
