<li data-index="rs-964" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" data-beforeafter='{"moveto":"50%|50%|50%|50%","bgColor":"linear-gradient(270deg, rgba(238,205,163,1) 0%, rgba(239,98,159,1) 100%)","bgType":"solid","bgImage":"","bgFit":"cover","bgPos":"center center","bgRepeat":"no-repeat","direction":"horizontal","easing":"Power2.easeInOut","delay":"500","time":"750","out":"fade","carousel":false,"bounceArrows":"infinite","bounceType":"repel","bounceAmount":"5","bounceSpeed":"1500","bounceEasing":"ease-in-out","bounceDelay":"750","shiftOffset":"10","shiftTiming":"300","shiftEasing":"ease","shiftDelay":"250"}'>
    <!-- MAIN IMAGE -->
    <img src="assets/video-slider/assets/transparent.png" 
      data-bgcolor='linear-gradient(90deg, rgba(203,186,204,1) 0%, rgba(36,57,73,1) 100%)' 
      style='background:linear-gradient(90deg, rgba(203,186,204,1) 0%, rgba(36,57,73,1) 100%)' alt=""  
      data-bgposition="center center" 
      data-bgfit="cover" 
      data-bgrepeat="no-repeat" 
      data-bgparallax="15"
      class="rev-slidebg" data-no-retina>
    <!-- LAYERS -->

    <!-- LAYER -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
        id="slide-964-layer-37" 
        data-x="center" 
        data-hoffset="0" 
        data-y="middle" 
        data-voffset="['-280','-280','-280','-280']" 
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-type="image" 
        data-beforeafter="before" 
        data-responsive_offset="on" 
        data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:top;rX:-180deg;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="['inherit','inherit','inherit','inherit']"
        data-paddingtop="0"
        data-paddingright="0"
        data-paddingbottom="0"
        data-paddingleft="0"
        style="z-index: 5;"><img src="assets/video-slider/assets/object_macscreen_1-2.png" alt="" data-ww="['1000px','1000px','1000px','500px']" data-hh="['1000px','1000px','1000px','500']" width="2000" height="2000" data-no-retina> </div>

    <!-- LAYER -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" 
        id="slide-964-layer-23" 
        data-x="center" 
        data-hoffset="['-578','-578','-578','-221']" 
        data-y="middle" 
        data-voffset="['-344','-344','-344','-194']" 
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-type="image" 
        data-beforeafter="before" 
        data-responsive_offset="on" 
        data-frames='[{"delay":600,"speed":2000,"frame":"0","from":"x:left;y:-500px;rZ:90deg;sX:1;sY:1;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="['inherit','inherit','inherit','inherit']"
        data-paddingtop="0"
        data-paddingright="0"
        data-paddingbottom="0"
        data-paddingleft="0"
        style="z-index: 6;"><img src="assets/video-slider/assets/object_plant_1.png" alt="" data-ww="['375px','375px','375px','200px']" data-hh="['375px','375px','375px','200px']" width="1500" height="1500" data-no-retina> </div>

    <!-- LAYER -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
        id="slide-964-layer-28" 
        data-x="center" 
        data-hoffset="0" 
        data-y="middle" 
        data-voffset="['-70','-70','-70','-170']" 
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-type="image" 
        data-beforeafter="before" 
        data-responsive_offset="on" 
        data-frames='[{"delay":700,"speed":2000,"frame":"0","from":"x:-200px;y:bottom;rZ:90deg;sX:1;sY:1;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="['inherit','inherit','inherit','inherit']"
        data-paddingtop="0"
        data-paddingright="0"
        data-paddingbottom="0"
        data-paddingleft="0"
        style="z-index: 7;"><img src="assets/video-slider/assets/keyboard_apple.png" alt="" data-ww="['600px','600px','600px','300px']" data-hh="['600px','600px','600px','300px']" width="1600" height="1600" data-no-retina> </div>

    <!-- LAYER -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
        id="slide-964-layer-22" 
        data-x="center" 
        data-hoffset="['307','307','307','131']" 
        data-y="middle" 
        data-voffset="['-59','-59','-59','-103']" 
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-type="image" 
        data-beforeafter="before" 
        data-responsive_offset="on" 
        data-frames='[{"delay":800,"speed":2000,"frame":"0","from":"x:200px;y:bottom;rZ:-180deg;sX:1;sY:1;","to":"o:1;rZ:-20;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="['inherit','inherit','inherit','inherit']"
        data-paddingtop="0"
        data-paddingright="0"
        data-paddingbottom="0"
        data-paddingleft="0"
        style="z-index: 8;"><img src="assets/video-slider/assets/object_macmouse_1.png" alt="" data-ww="['250px','250px','250px','125px']" data-hh="['250px','250px','250px','125px']" width="1000" height="1000" data-no-retina> </div>

    <!-- LAYER -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-2" 
        id="slide-964-layer-35" 
        data-x="center" 
        data-hoffset="['-296','-296','-296','-149']" 
        data-y="middle" 
        data-voffset="['-67','-67','-67','-89']" 
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-type="image" 
        data-beforeafter="before" 
        data-responsive_offset="on" 
        data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"x:left;y:200px;rZ:180deg;sX:1;sY:1;","to":"o:1;rZ:45;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="['inherit','inherit','inherit','inherit']"
        data-paddingtop="0"
        data-paddingright="0"
        data-paddingbottom="0"
        data-paddingleft="0"
        style="z-index: 9;"><img src="assets/video-slider/assets/object_glasses_2.png" alt="" data-ww="['250px','250px','250px','125px']" data-hh="['250px','250px','250px','125px']" width="1000" height="1000" data-no-retina> </div>

    <!-- LAYER -->
    <div class="tp-caption   tp-resizeme  tp-whiteshadow rs-parallaxlevel-5" 
        id="slide-964-layer-1" 
        data-x="center" 
        data-hoffset="0" 
        data-y="middle" 
        data-voffset="['110','110','110','0']" 
        data-fontsize="['120','120','120','60']"
        data-lineheight="['120','120','120','60']"
        data-letterspacing="['50','50','50','30']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-type="text" 
        data-beforeafter="before" 
        data-responsive_offset="on" 
        data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="center"
        data-paddingtop="0"
        data-paddingright="0"
        data-paddingbottom="0"
        data-paddingleft="50
        data-blendmode="screen"
        style="z-index: 10; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 400; color: #000000; letter-spacing: 50px;font-family:Montserrat;text-transform:uppercase;">NICE </div>

    <!-- LAYER -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
        id="slide-964-layer-38" 
        data-x="center" 
        data-hoffset="0" 
        data-y="middle" 
        data-voffset="['-280','-280','-280','-280']" 
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-type="image" 
        data-beforeafter="after" 
        data-responsive_offset="on" 
        data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"y:top;rX:-180deg;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="['inherit','inherit','inherit','inherit']"
        data-paddingtop="0"
        data-paddingright="0"
        data-paddingbottom="0"
        data-paddingleft="0"
        style="z-index: 13;"><img src="assets/video-slider/assets/object_macscreen_2.png" alt="" data-ww="['1000px','1000px','1000px','500px']" data-hh="['1000px','1000px','1000px','500']" width="2000" height="2000" data-no-retina> </div>

    <!-- LAYER -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-4" 
        id="slide-964-layer-42" 
        data-x="center" 
        data-hoffset="['545','545','545','181']" 
        data-y="middle" 
        data-voffset="['-203','-203','-203','-178']" 
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-type="image" 
        data-beforeafter="after" 
        data-responsive_offset="on" 
        data-frames='[{"delay":2100,"speed":2000,"frame":"0","from":"x:right;y:-500px;rZ:-180deg;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="['inherit','inherit','inherit','inherit']"
        data-paddingtop="0"
        data-paddingright="0"
        data-paddingbottom="0"
        data-paddingleft="0"
        style="z-index: 14;"><img src="assets/video-slider/assets/object_coffee_1.png" alt="" data-ww="['375px','375px','375px','170px']" data-hh="['375px','375px','375px','170px']" width="1500" height="1500" data-no-retina> </div>

    <!-- LAYER -->
    <div class="tp-caption   tp-resizeme rs-parallaxlevel-3" 
        id="slide-964-layer-45" 
        data-x="center" 
        data-hoffset="0" 
        data-y="middle" 
        data-voffset="['-70','-70','-70','-170']" 
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-type="image" 
        data-beforeafter="after" 
        data-responsive_offset="on" 
        data-frames='[{"delay":2200,"speed":2000,"frame":"0","from":"x:-200px;y:bottom;rZ:90deg;sX:1;sY:1;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="['inherit','inherit','inherit','inherit']"
        data-paddingtop="0"
        data-paddingright="0"
        data-paddingbottom="0"
        data-paddingleft="0"
        style="z-index: 15;"><img src="assets/video-slider/assets/keyboard_apple.png" alt="" data-ww="['600px','600px','600px','300px']" data-hh="['600px','600px','600px','300px']" width="1600" height="1600" data-no-retina> </div>

    <!-- LAYER -->
    <div class="tp-caption   tp-resizeme  tp-blackshadow rs-parallaxlevel-5" 
        id="slide-964-layer-9" 
        data-x="center" 
        data-hoffset="0" 
        data-y="middle" 
        data-voffset="['110','110','110','0']" 
        data-fontsize="['120','120','120','60']"
        data-lineheight="['120','120','120','60']"
        data-letterspacing="['50','50','50','30']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-type="text" 
        data-beforeafter="after" 
        data-responsive_offset="on" 
        data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
        data-textAlign="center"
        data-paddingtop="0"
        data-paddingright="0"
        data-paddingbottom="0"
        data-paddingleft="50
        data-blendmode="overlay"
        style="z-index: 16; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 400; color: #ffffff; letter-spacing: 50px;font-family:Montserrat;text-transform:uppercase;">CLEAN </div>

      {{#if slider-fullscreen}}
      {{> static-slider-scrollbelow}}
      {{/if}}
  </li>
  