 <!-- LAYER NR. 3 -->
<div class="tp-caption rev-scroll-btn" 
  data-x="center" 
  data-hoffset="0" 
  data-y="bottom" 
  data-voffset="177" 
  data-width="35"
  data-height="55"
  data-whitespace="nowrap"
  data-actions='[{"event": "click", "action": "scrollbelow", "offset": "50px","delay": "0"}]'
  data-type="button" 
  data-basealign="slide" 
  data-responsive_offset="off" 
  data-responsive="off"
  data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:50px;opacity:0;","ease":"nothing"}]'
  data-textAlign="['left','left','left','left']"
  data-paddingtop="0"
  data-paddingright="0"
  data-paddingbottom="0"
  data-paddingleft="0"
  style="z-index: 7; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 400;text-transform:left;border-color:rgba(255, 255, 255, 1.00);border-style:solid;border-width:3px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">							
  <span></span>
</div>

 <!-- LAYER NR. 4 -->
 <div class="tp-caption Restaurant-ScrollDownText" 
    data-x="center" 
    data-hoffset="0" 
    data-y="bottom" 
    data-voffset="130" 
    data-width="none"
    data-height="none"
    data-whitespace="nowrap"
    data-actions='[{"event": "click", "action": "scrollbelow", "offset": "50px","delay": "0"}]'
    data-type="text" 
    data-basealign="slide" 
    data-responsive_offset="off" 
    data-responsive="off"
    data-frames='[{"from":"y:50px;opacity:0;","speed":1000,"to":"o:1;","delay":1900,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","ease":"nothing"}]'
    data-textAlign="['left','left','left','left']"
    data-paddingtop="0"
    data-paddingright="0"
    data-paddingbottom="0"
    data-paddingleft="0"

    style="z-index: 8; white-space: nowrap;text-transform:left;"
    >Scroll Down </div>