<!-- YOUTUBE VIDEO AND TEXT SLIDE -->
<li data-delay="20000" data-transition="fade" id="slide-1-layer-2">
    <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
    <img src="assets/img/dummy.png"  alt="" 
      data-lazyload="assets/img/youtubecover-1.jpg" 
      data-bgposition="center bottom" 
      data-bgfit="cover" 
      data-bgrepeat="no-repeat" 
      data-bgparallax="15"
      class="rev-slidebg" data-no-retina>
    <!-- BACKGROUND VIDEO LAYER -->
    <div class="rs-background-video-layer"
      id="videoBackgroundLayer"
      data-forcerewind="on" 
      data-volume="mute" 
      data-ytid="xDMP3i36naA"
      data-videoloop="loopandnoslidestop"
      data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&wmode=opaque&showinfo=0&rel=0;
      data-videorate="1" 
      data-videowidth="100%" 
      data-videoheight="100%" 
      data-videocontrols="none" 
      data-forceCover="1"
      data-aspectratio="16:9" 
      data-autoplay="true" 
      data-nextslideatend="true"
      data-autoplayonlyfirsttime="false"></div>
      <!-- TEXT LAYER -->
      <div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
        data-x="center" 
        data-y="middle" 
        data-hoffset="0" 
        data-voffset="-80" 
        data-width="auto 
        data-height="auto"
        data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"1500","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
        style="font-size:80px;line-height:85px;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;"
        >Main heading</div>
        <!-- TEXT LAYER -->
      <div class="tp-caption tp-resizeme rs-parallaxlevel-8" 
        data-x="center" 
        data-y="middle" 
        data-hoffset="0" 
        data-voffset="0" 
        data-width="auto" 
        data-height="auto"
        data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"1500","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
        style="font-size:36px;line-height:40px;color:rgba(255,255,255,1);font-family:Oswald;text-transform: uppercase;"
        >YouTube video</div>
      <!-- BUTTON LAYER -->
      <div class="tp-caption tp-resizeme c-btn c-btn--secondary rs-parallaxlevel-8"
        data-x="center" 
        data-y="middle" 
        data-hoffset="0" 
        data-voffset="80" 
        data-width="auto" 
        data-height="auto"
        data-frames='[{"delay":"+790","speed":1000,"frame":"0","from":"y:50px;opacity:0;fb:10px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"1500","speed":600,"frame":"999","to":"auto:auto;fb:0;","ease":"Power3.easeInOut"}]'
        style="font-size: 1rem;font-family:sans-serif;"
        >Button</div>

        {{#if slider-fullscreen}}
        {{> static-slider-scrollbelow}}
        {{/if}}
  </li>
  