{{> new-column new-column-class="is-centered is-campaign"}}
  <h1>Main heading H1</h1>
  <h2>Secondary heading H2</h2>
  <p class="u-lead-text">Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak <a href="#0">with a link</a>. Magna venison turducken, do ea sirloin et capicola cow consequat.</p>
</div>

{{> new-column new-column-class="is-brand-dark is-pulled-up is-campaign"}}
  <div class="c-media-object__row is-stacked">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single no-content="true" has-title="true" not-stacked="true"}}
    </section>
    {{/repeat}}
  </div>
</div>

{{> new-column new-column-class="is-brand-dark is-inverse is-centered no-space-above is-campaign"}}
  <div class="clearfix text-formatted field field--name-field-text field--type-text-long field--label-hidden field__item">
    <h2 id="secondary-heading-h2">Secondary heading H2</h2>
    <h3><a href="#0">Sub heading H3</a></h3>
    <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui
      fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak&nbsp;<a href="http://localhost:8000/static-campaign-layout.html#0">with
        a link</a>. Magna venison turducken, do ea sirloin
      et capicola cow consequat.</p>
  </div>
  <h3><a href="#0">Sub heading H3</a></h3>
  <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak irure sunt doner culpa. Magna venison turducken, do ea sirloin et capicola cow consequat. Ea capicola ipsum ground round irure, elit velit pig sirloin kielbasa short loin in porchetta consectetur <a href="#0">with a link</a>. Hamburger short ribs irure, fugiat tempor ut capicola non magna tongue alcatra picanha rump chicken. Dolor lorem commodo quis.</p>
  <p><a href="#0" class="c-btn">Button</a></p>
</div>

{{> new-column new-column-class="is-campaign"}}
  <div class="c-media-object__row is-stacked has-three-columns js-equalize">
    {{#repeat 3}}
    <section class="c-media-object__column">
      {{> static-media-object-single not-stacked="true" equaliser="true"}}
    </section>
    {{/repeat}}
  </div>
</div>

{{> new-column new-column-class="is-centered no-space-above is-campaign"}}
  <h2>Secondary heading H2</h2>
  <p class="u-lead-text">Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak irure sunt doner culpa <a href="#0">with a link</a>. Magna venison turducken, do ea sirloin et capicola cow consequat.</p>
</div>

{{> new-column new-column-class="is-brand-dark is-pulled-up is-campaign"}}
  <div class="c-media-object__row is-stacked">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single no-content="true" has-title="true" not-stacked="true"}}
    </section>
    {{/repeat}}
  </div>
</div>

{{> new-column new-column-class="is-brand-dark is-inverse is-centered no-space-above is-campaign"}}
    <h3>Sub heading H3</h3>
    <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak irure sunt doner culpa. Magna venison turducken, do ea sirloin et capicola cow consequat. Ea capicola ipsum ground round irure, elit velit pig sirloin kielbasa short loin in porchetta consectetur <a href="#0">with a link</a>. Hamburger short ribs irure, fugiat tempor ut capicola non magna tongue alcatra picanha rump chicken. Dolor lorem commodo quis.</p>
</div>

{{> new-column new-column-class="is-brand-dark no-space-above is-campaign"}}
  <div class="c-media-object__row is-stacked has-three-columns js-equalize">
    {{#repeat 3}}
    <section class="c-media-object__column">
      {{> static-media-object-single not-stacked="true" equaliser="true"}}
    </section>
    {{/repeat}}
  </div>
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height is-secondary is-campaign"}}
  <div class="c-rss-feed is-news">
    <h4 class="c-rss-feed__heading"><a href="#0">News</a></h4>
    <section class="c-rss-feed__item">
      <div class="c-rss-feed__section">
        <div class="c-rss-feed__date">
          <p>11</p>
          <p>Oct</p>
        </div>
      </div>
      <div class="c-rss-feed__section">
        <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
        <p>I'm going to improvise. Listen, there's something you should know about me...</p>
      </div>
    </section>
    <section class="c-rss-feed__item">
      <div class="c-rss-feed__section">
        <div class="c-rss-feed__date">
          <p>11</p>
          <p>Oct</p>
        </div>
      </div>
      <div class="c-rss-feed__section">
        <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
        <p>I'm going to improvise. Listen, there's something you should know about me...</p>
      </div>
    </section>
    <a href="#0" class="c-rss-feed__more">more...</a>
  </div>
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height is-secondary is-campaign"}}
  <div class="c-rss-feed is-events">
    <h4 class="c-rss-feed__heading"><a href="#0">Events</a></h4>
    <section class="c-rss-feed__item">
      <div class="c-rss-feed__section">
        <div class="c-rss-feed__date">
          <p>7</p>
          <p>Nov</p>
        </div>
      </div>
      <div class="c-rss-feed__section">
        <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
        <p>I'm going to improvise. Listen, there's something you should know about me...</p>
      </div>
    </section>
    <section class="c-rss-feed__item">
      <div class="c-rss-feed__section">
        <div class="c-rss-feed__date">
          <p>7</p>
          <p>Nov</p>
        </div>
      </div>
      <div class="c-rss-feed__section">
        <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
        <p>I'm going to improvise. Listen, there's something you should know about me...</p>
      </div>
    </section>
    <section class="c-rss-feed__item">
      <div class="c-rss-feed__section">
        <div class="c-rss-feed__date">
          <p>7</p>
          <p>Nov</p>
        </div>
      </div>
      <div class="c-rss-feed__section">
        <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
        <p>I'm going to improvise. Listen, there's something you should know about me...</p>
      </div>
    </section>
    <a href="#0" class="c-rss-feed__more">more...</a>
  </div>
</div>

{{> new-column new-column-class="is-primary is-inverse is-centered is-campaign"}}
    <h3>Sub heading H3</h3>
    <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak irure sunt doner culpa. Magna venison turducken, do ea sirloin et capicola cow consequat. Ea capicola ipsum ground round irure, elit velit pig sirloin kielbasa short loin in porchetta consectetur <a href="#0">with a link</a>. Hamburger short ribs irure, fugiat tempor ut capicola non magna tongue alcatra picanha rump chicken. Dolor lorem commodo quis.</p>
</div>

{{> new-column new-column-class="is-campaign is-brand-dark"}}
  <ul class="c-accordion js-accordion">
    <a class="c-accordion__toggle" data-expand-all="true"></a>
    <li class="c-accordion__item" data-accordion-item>
      <a href="#accordion-panel1" class="c-accordion__title"><h2 class="c-accordion__heading">Accordion 1</h2></a>
      <div class="c-accordion__content" data-tab-content id="accordion-panel1">
      <p>Accordion <a href="#0">anc<span>ho</span>r</a> content</p>
      </div>
    </li>
    <li class="c-accordion__item" data-accordion-item>
      <a href="#accordion-panel2" class="c-accordion__title"><h3 class="c-accordion__heading">Accordion 2</h2></a>
      <div class="c-accordion__content" data-tab-content id="accordion-panel2">
        Linking to an [accordion](#accordion-panel3b).
      </div>
    </li>
    <li class="c-accordion__item" data-accordion-item>
      <a href="#accordion-panel3" class="c-accordion__title"><h4 class="c-accordion__heading">Accordion 3</h2></a>
      <div class="c-accordion__content" data-tab-content id="accordion-panel3">
        <p>Accordion content</p>
      </div>
    </li>
  </ul>
</div>

{{> new-column new-column-class="is-light is-centered is-campaign"}}
  <h3>Sub heading H3</h3>
  <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak irure sunt doner culpa. Magna venison turducken, do ea sirloin et capicola cow consequat. Ea capicola ipsum ground round irure, elit velit pig sirloin kielbasa short loin in porchetta consectetur <a href="#0">with a link</a>. Hamburger short ribs irure, fugiat tempor ut capicola non magna tongue alcatra picanha rump chicken. Dolor lorem commodo quis.</p>
</div>

{{> new-column new-column-class="is-black is-inverse is-centered is-campaign"}}
  <h3>Sub heading H3</h3>
  <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak irure sunt doner culpa. Magna venison turducken, do ea sirloin et capicola cow consequat. Ea capicola ipsum ground round irure, elit velit pig sirloin kielbasa short loin in porchetta consectetur <a href="#0">with a link</a>. Hamburger short ribs irure, fugiat tempor ut capicola non magna tongue alcatra picanha rump chicken. Dolor lorem commodo quis.</p>
</div>

{{> new-column new-column-class="is-secondary is-inverse is-centered is-campaign"}}
  <h3>Sub heading H3</h3>
  <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak irure sunt doner culpa. Magna venison turducken, do ea sirloin et capicola cow consequat. Ea capicola ipsum ground round irure, elit velit pig sirloin kielbasa short loin in porchetta consectetur <a href="#0">with a link</a>. Hamburger short ribs irure, fugiat tempor ut capicola non magna tongue alcatra picanha rump chicken. Dolor lorem commodo quis.</p>
</div>

{{> new-column new-column-class="is-centered is-campaign"}}
  <h3>Sub heading H3</h3>
  <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak irure sunt doner culpa. Magna venison turducken, do ea sirloin et capicola cow consequat. Ea capicola ipsum ground round irure, elit velit pig sirloin kielbasa short loin in porchetta consectetur <a href="#0">with a link</a>. Hamburger short ribs irure, fugiat tempor ut capicola non magna tongue alcatra picanha rump chicken. Dolor lorem commodo quis.</p>
</div>

{{> new-column new-column-class="is-quaternary is-inverse is-centered is-campaign"}}
  <h3>Sub heading H3</h3>
  <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak irure sunt doner culpa. Magna venison turducken, do ea sirloin et capicola cow consequat. Ea capicola ipsum ground round irure, elit velit pig sirloin kielbasa short loin in porchetta consectetur <a href="#0">with a link</a>. Hamburger short ribs irure, fugiat tempor ut capicola non magna tongue alcatra picanha rump chicken. Dolor lorem commodo quis.</p>
</div>

{{> new-column new-column-class="is-centered is-campaign"}}
  <h3>Sub heading H3</h3>
  <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef consectetur qui fugiat kielbasa rump elit. Meatloaf in brisket occaecat. Tongue flank pancetta ad strip steak irure sunt doner culpa. Magna venison turducken, do ea sirloin et capicola cow consequat. Ea capicola ipsum ground round irure, elit velit pig sirloin kielbasa short loin in porchetta consectetur <a href="#0">with a link</a>. Hamburger short ribs irure, fugiat tempor ut capicola non magna tongue alcatra picanha rump chicken. Dolor lorem commodo quis.</p>
</div>

{{> new-column new-column-class="is-brand-dark is-pulled-up is-campaign is-inverse"}}
  {{> static-form }}
</div>
