  <div class="c-media-object__row is-stacked has-four-columns js-equalize">
    {{#repeat 3}}
    <section class="c-media-object__column">
      {{> static-media-object-single equaliser="true"}}
    </section>
    <section class="c-media-object__column">
      {{> static-media-object-single short-text="true" equaliser="true"}}
    </section>
    {{/repeat}}
  </div>

</div>

<!-- {{#if small-media-object-demo}} -->

{{> new-column}}

  <div class="c-media-object__row is-stacked has-three-columns js-equalize">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single equaliser="true"}}
    </section>
    <section class="c-media-object__column">
      {{> static-media-object-single short-text="true" equaliser="true"}}
    </section>
    {{/repeat}}
  </div>

</div>

<!-- {{/if}} -->

{{> new-column}}

  <div class="c-media-object__row is-stacked js-equalize">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single equaliser="true"}}
    </section>
    <section class="c-media-object__column">
      {{> static-media-object-single short-text="true" equaliser="true"}}
    </section>
    {{/repeat}}
  </div>

</div>
{{> new-column}}

  <div class="c-media-object__row is-stacked">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single equaliser="true" has-title="true" no-content="true"}}
    </section>
    <section class="c-media-object__column">
      {{> static-media-object-single equaliser="true" has-title="true" no-content="true" title-has-link="true"}}
    </section>
    {{/repeat}}
  </div>

</div>
{{> new-column}}

  <div class="c-media-object__row is-full-width is-thumb is-portrait">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single not-stacked="true" alternate-image-size="220x330" no-title-tag="true"}}
    </section>
    {{/repeat}}
  </div>

</div>
{{> new-column}}

  <div class="c-media-object__row is-full-width is-thumb">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single not-stacked="true" alternate-image-size="220x165" no-title-tag="true"}}
    </section>
    {{/repeat}}
  </div>

</div>
{{> new-column}}

  <div class="c-media-object__row is-full-width is-portrait">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single not-stacked="true" alternate-image-size="500x750"}}
    </section>
    {{/repeat}}
  </div>

</div>
{{> new-column}}

  <div class="c-media-object__row is-full-width">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single not-stacked="true"}}
    </section>
    {{/repeat}}
  </div>

</div>
{{> new-column}}

  <div class="c-media-object__row is-full-width is-large is-portrait">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single not-stacked="true" alternate-image-size="920x1380"}}
    </section>
    {{/repeat}}
  </div>

</div>
{{> new-column}}

  <div class="c-media-object__row is-full-width is-large">
    {{#repeat 2}}
    <section class="c-media-object__column">
      {{> static-media-object-single not-stacked="true"}}
    </section>
    {{/repeat}}
  </div>

</div>
{{> new-column}}
