<!-- Pagination -->
<ul class="c-pagination" role="navigation" aria-label="Pagination"{{#if centered-pagination}} style="text-align: center;"{{/if}}>
  <li class="c-pagination__previous is-disabled"><span class="c-pagination--hidden">Previous page</span></li>
  <li class="c-pagination__previous"><a href="#0" aria-label="Previous page"><span class="c-pagination--hidden">Previous page</span></a></li>
  <li class="is-current"><span class="c-pagination--hidden">You're on page</span> 1</li>
  <li class="is-current"><span class="c-pagination--hidden">You're on page</span> <a href="#0" aria-label="Page 11">11</a></li>
  <li><a href="#0" aria-label="Page 2">2876877</a></li>
  <li><a href="#0" aria-label="Page 3">3</a></li>
  <li><a href="#0" aria-label="Page 4">4</a></li>
  <li class="c-pagination__ellipsis" aria-hidden="true"></li>
  <li><a href="#0" aria-label="Page 12">12</a></li>
  <li><a href="#0" aria-label="Page 13">13</a></li>
  <li class="c-pagination__next"><a href="#0" aria-label="Next page"><span class="c-pagination--hidden">Next page</span></a></li>
  <li class="c-pagination__next is-disabled"><span class="c-pagination--hidden">Next page</span></li>
</ul>
