<div class="c-local-footer">
  <div class="c-local-footer__container">
    <section class="c-local-footer__column is-first-column">
      <p class="u-lead-text">Division of the Deputy Vice-Chancellor & Vice-President Academic</p>
      <a href="#0" class="c-btn c-btn--large">Large</a>
      <p><a href="#0" class="c-btn c-btn--large">Large</a></p>
      <div class="c-btn c-btn--large"><a href="#0">Large</a></div>
    </section>
    <section class="c-local-footer__column is-second-column">
      <h4 class="c-local-footer__title">Address</h4>
      <p>Level 7, Wills Building<br>
        North Terrace Campus</p>
      <p>The <a href="#0">University of Adelaide</a><br>
        South Australia 5005<br>
        Australia</p>
    </section>
    <section class="c-local-footer__column is-third-column">
      <h4 class="c-local-footer__title">Contact</h4>
      <nav>
        <ul class="c-local-footer__menu">
          <li><a href="tel:1112223334" title="">T +61 8313 5901</a></li>
          <li><a href="tel:1112223334" title="">T +61 8313 8333</a></li>
          <li><a href="mailto:demo@nowhere.com" title="">dvca@adelaide.edu.au</a></li>
        </ul>
      </nav>
      <div class="c-social-icon-block">
        <a href="#0" class="ua-social-icon" title=""><img src="{{root}}assets/img/social/facebook.png" alt=""></a>
        <a href="#0" class="ua-social-icon" title=""><img src="{{root}}assets/img/social/twitter.png" alt=""></a>
        <a href="#0" class="ua-social-icon" title=""><img src="{{root}}assets/img/social/instagram.png" alt=""></a>
        <a href="#0" class="ua-social-icon" title=""><img src="{{root}}assets/img/social/youtube.png" alt=""></a>
        <a href="#0" class="ua-social-icon" title=""><img src="{{root}}assets/img/social/linkedin.png" alt=""></a>
        <a href="#0" class="ua-social-icon" title=""><img src="{{root}}assets/img/social/snapchat.png" alt=""></a>
        <a href="#0" class="ua-social-icon" title=""><img src="{{root}}assets/img/social/gplus.png" alt=""></a>
        <a href="#0" class="ua-social-icon" title=""><img src="{{root}}assets/img/social/rss.png" alt=""></a>
      </div>
    </section>
    <section class="c-local-footer__column is-fourth-column">
      <figure class="c-image">
        <a href="#0" class="c-image__link"><img src="https://via.placeholder.com/1166x875/" alt="" class="c-image--small"></a>
      </figure>
    </section>
  </div>
</div>
