<div class="c-rss-feed is-news">
  <h4 class="c-rss-feed__heading"><a href="#0">News</a></h4>
  {{#repeat 3}}
  <section class="c-rss-feed__item">
    <div class="c-rss-feed__section">
      <div class="c-rss-feed__date">
        <p>11</p>
        <p>Oct</p>
      </div>
    </div>
    <div class="c-rss-feed__section">
      <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
      <p>I'm going to improvise. Listen, there's something you should know about me...</p>
    </div>
  </section>
  {{/repeat}}
  <a href="#0" class="c-rss-feed__more">more...</a>
</div>

</div>
{{> new-column}}

<div class="c-rss-feed is-events">
  <h4 class="c-rss-feed__heading"><a href="#0">Events</a></h4>
  {{#repeat 3}}
  <section class="c-rss-feed__item">
    <div class="c-rss-feed__section">
      <div class="c-rss-feed__date">
        <p>7</p>
        <p>Nov</p>
      </div>
    </div>
    <div class="c-rss-feed__section">
      <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
      <p>I'm going to improvise. Listen, there's something you should know about me...</p>
    </div>
  </section>
  {{/repeat}}
  <a href="#0" class="c-rss-feed__more">more...</a>
</div>

</div>
{{> new-column}}

<div class="c-rss-feed__row js-equalize">
  <div class="c-rss-feed__column">
    <div class="c-rss-feed is-news" data-equalizer-watch>
      <h4 class="c-rss-feed__heading"><a href="#0">News</a></h4>
      {{#repeat 3}}
      <section class="c-rss-feed__item">
        <div class="c-rss-feed__section">
          <div class="c-rss-feed__date">
            <p>11</p>
            <p>Oct</p>
          </div>
        </div>
        <div class="c-rss-feed__section">
          <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
          <p>I'm going to improvise. Listen, there's something you should know about me...</p>
        </div>
      </section>
      {{/repeat}}
      <a href="#0" class="c-rss-feed__more">more...</a>
    </div>
  </div>
  <div class="c-rss-feed__column">
    <div class="c-rss-feed is-events" data-equalizer-watch>
      <h4 class="c-rss-feed__heading"><a href="#0">Events</a></h4>
      {{#repeat 2}}
      <section class="c-rss-feed__item">
        <div class="c-rss-feed__section">
          <div class="c-rss-feed__date">
            <p>7</p>
            <p>Nov</p>
          </div>
        </div>
        <div class="c-rss-feed__section">
          <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
          <p>I'm going to improvise. Listen, there's something you should know about me...</p>
        </div>
      </section>
      {{/repeat}}
      <a href="#0" class="c-rss-feed__more">more...</a>
    </div>
  </div>
</div>
