{{> new-column new-column-class="is-centered is-campaign is-brand-dark"}}
  <div class="c-content-banner u-overlay--light" style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');">
    <div class="c-content-banner__content-container">
      <div class="c-content-banner__content">
        <p>Normal light overlay</p>
      </div>
    </div>
  </div>
</div>

{{> new-column new-column-class="is-centered is-campaign"}}
  <div class="c-content-banner u-overlay--light-less" style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');">
    <div class="c-content-banner__content-container">
      <div class="c-content-banner__content">
        <p>Less opacity light overlay</p>
      </div>
    </div>
  </div>
  <div class="c-content-banner u-overlay--light-more" style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');">
    <div class="c-content-banner__content-container">
      <div class="c-content-banner__content">
        <p>More opacity light overlay</p>
      </div>
    </div>
  </div>
</div>
{{> new-column new-column-class="is-centered is-inverse is-campaign is-light"}}
  <div class="c-content-banner u-overlay" style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');">
    <div class="c-content-banner__content-container">
      <div class="c-content-banner__content">
          <p>Normal dark overlay</p>
      </div>
    </div>
  </div>
  <div class="c-content-banner u-overlay-less" style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');">
    <div class="c-content-banner__content-container">
      <div class="c-content-banner__content">
        <p>Less opacity dark overlay</p>
      </div>
    </div>
  </div>
  <div class="c-content-banner u-overlay-more" style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');">
    <div class="c-content-banner__content-container">
      <div class="c-content-banner__content">
        <p>More opacity dark overlay</p>
      </div>
    </div>
  </div>
  <div class="c-content-banner u-overlay" style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');">
    <div class="c-content-banner__content-container">
      <div class="c-content-banner__content">
        <h2>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef.</h2>
        <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef.</p>
        <div class="c-btn__group">
          <a href="#0" class="c-btn c-btn">Button</a>
          <a href="#0" class="c-btn c-btn--success">Button</a>
          <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{> new-column new-column-class="is-centered is-inverse"}}
  <div class="c-content-banner is-full-width u-overlay" style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');">
    <div class="c-content-banner__content-container">
      <div class="c-content-banner__content">
        <h2>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef.</h2>
        <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef.</p>
        <div class="c-btn__group">
          <a href="#0" class="c-btn c-btn">Button</a>
          <a href="#0" class="c-btn c-btn--success">Button</a>
          <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
        </div>
      </div>
    </div>
  </div>
  <div class="c-content-banner is-full-width u-overlay" style="background-image: url('//www.adelaide.edu.au/front/images/slides/study-2019.jpg');">
    <div class="c-content-banner__content-container">
      <div class="c-content-banner__content">
        <p>Spicy jalapeno bacon ipsum dolor amet jerky mollit capicola, jowl exercitation ut corned beef.</p>
      </div>
    </div>
  </div>
</div>
