<div class="c-filter-nav__container">
  <div class="c-filter-nav__group js-filter-nav-filter is-centered">
    <p class="c-filter-nav__button--label">Filter by:</p>
    <a class="c-filter-nav__button" data-filter="*">All</a>
    <a class="c-filter-nav__button u-filter-load-first is-checked" data-filter=".first">First</a>
    <a class="c-filter-nav__button" data-filter=".second">Second</a>
    <a class="c-filter-nav__button" data-filter=".third">Third</a>
    <a class="c-filter-nav__button" data-filter=":not(.second)">Not second</a>
    <a class="c-filter-nav__button" data-filter=".second:not(.first)">Second but not first</a>
    <a class="c-filter-nav__button" data-filter=".content">Content</a>
  </div>

  <div class="c-filter-nav__group js-filter-nav-sorts is-centered">
    <p class="c-filter-nav__button--label">Sort by:</p>
    <a class="c-filter-nav__button is-checked" data-sort-by="original-order">original order</a>
    <a class="c-filter-nav__button" data-sort-by="name">Name</a>
    <a class="c-filter-nav__button" data-sort-by="category">Category</a>
  </div>
</div>
<div class="c-filter-nav has-three-columns">
  <div class="c-filter-nav__column second first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box is-primary">
        <h4 class="c-filter-nav__button-box--title name">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box is-secondary">
        <h4 class="c-filter-nav__button-box--title name">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box is-success">
        <h4 class="c-filter-nav__button-box--title name">First with a longer title entrepreneurship</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second" data-category="second">
    <a href="#">
      <div class="c-filter-nav__button-box is-warning">
        <h4 class="c-filter-nav__button-box--title name">Second</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second first" data-category="combined">
    <a href="#">
      <div class="c-filter-nav__button-box is-alert">
        <h4 class="c-filter-nav__button-box--title name">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column content" data-category="image">
    <img src="https://via.placeholder.com/1166x875/" alt="" class="">
  </div>
  <div class="c-filter-nav__column content" data-category="text">
    <p class="name">This is just content. It does not have any colors.</p>
  </div>
  <div class="c-filter-nav__column second first" data-category="combined">
    <a href="#">
      <div class="c-filter-nav__button-box is-hollow-dark">
        <h4 class="c-filter-nav__button-box--title name">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box is-hollow-light">
        <h4 class="c-filter-nav__button-box--title name">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second first" data-category="combined">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column third" data-category="third">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">Third</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column content" data-category="image">
    <img src="https://via.placeholder.com/1166x875/" alt="" class="">
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <div class="c-promo-item is-dark">
      <div class="c-promo-item__section c-promo-item__section--content">
        <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
        <p>I'm going to improvise. Listen, there's something you should know about me.</p>
        <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
      </div>
    </div>
  </div>
  <div class="c-filter-nav__column second" data-category="second">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">Second</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column content" data-category="image">
    <img src="https://via.placeholder.com/1166x875/" alt="" class="">
  </div>
  <div class="c-filter-nav__column third first" data-category="combined">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">Third First</h4>
      </div>
    </a>
  </div>
</div>

<div class="c-filter-nav__container">
  <div class="c-filter-nav__group js-filter-nav-filter-combination is-centered" data-filter-group="color">
    <p class="c-filter-nav__button--label">Filter by:</p>
    <a class="c-filter-nav__button" data-filter="">Any</a>
    <a class="c-filter-nav__button u-filter-load-first is-checked" data-filter=".first">First</a>
    <a class="c-filter-nav__button" data-filter=".second">Second</a>
    <a class="c-filter-nav__button" data-filter=".third">Third</a>
    <a class="c-filter-nav__button" data-filter=":not(.second)">Not second</a>
    <a class="c-filter-nav__button" data-filter=".second:not(.first)">Second but not first</a>
    <a class="c-filter-nav__button" data-filter=".content">Content</a>
  </div>
  <div class="c-filter-nav__group js-filter-nav-filter-combination is-centered" data-filter-group="size">
    <p class="c-filter-nav__button--label">Filter by:</p>
    <a class="c-filter-nav__button u-filter-load-first is-checked" data-filter="">Any</a>
    <a class="c-filter-nav__button" data-filter=".first">First</a>
    <a class="c-filter-nav__button" data-filter=".second">Second</a>
    <a class="c-filter-nav__button" data-filter=".third">Third</a>
    <a class="c-filter-nav__button" data-filter=":not(.second)">Not second</a>
    <a class="c-filter-nav__button" data-filter=".second:not(.first)">Second but not first</a>
    <a class="c-filter-nav__button" data-filter=".content">Content</a>
  </div>
  <div class="c-filter-nav__group js-filter-nav-sorts is-centered">
    <p class="c-filter-nav__button--label">Sort by:</p>
    <a class="c-filter-nav__button is-checked" data-sort-by="original-order">original order</a>
    <a class="c-filter-nav__button" data-sort-by="name">Name</a>
    <a class="c-filter-nav__button" data-sort-by="category">Category</a>
  </div>
</div>
<div class="c-filter-nav has-three-columns">
  <div class="c-filter-nav__column second first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box is-primary">
        <h4 class="c-filter-nav__button-box--title name">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box is-secondary">
        <h4 class="c-filter-nav__button-box--title name">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box is-success">
        <h4 class="c-filter-nav__button-box--title name">First with a longer title entrepreneurship</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second" data-category="second">
    <a href="#">
      <div class="c-filter-nav__button-box is-warning">
        <h4 class="c-filter-nav__button-box--title name">Second</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second first" data-category="combined">
    <a href="#">
      <div class="c-filter-nav__button-box is-alert">
        <h4 class="c-filter-nav__button-box--title name">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column content" data-category="image">
    <img src="https://via.placeholder.com/1166x875/" alt="" class="">
  </div>
  <div class="c-filter-nav__column content" data-category="text">
    <p class="name">This is just content. It does not have any colors.</p>
  </div>
  <div class="c-filter-nav__column second first" data-category="combined">
    <a href="#">
      <div class="c-filter-nav__button-box is-hollow-dark">
        <h4 class="c-filter-nav__button-box--title name">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box is-hollow-light">
        <h4 class="c-filter-nav__button-box--title name">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column second first" data-category="combined">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">Second First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column third" data-category="third">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">Third</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column content" data-category="image">
    <img src="https://via.placeholder.com/1166x875/" alt="" class="">
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">First</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column first" data-category="first">
    <div class="c-promo-item is-dark">
      <div class="c-promo-item__section c-promo-item__section--content">
        <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
        <p>I'm going to improvise. Listen, there's something you should know about me.</p>
        <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
      </div>
    </div>
  </div>
  <div class="c-filter-nav__column second" data-category="second">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">Second</h4>
      </div>
    </a>
  </div>
  <div class="c-filter-nav__column content" data-category="image">
    <img src="https://via.placeholder.com/1166x875/" alt="" class="">
  </div>
  <div class="c-filter-nav__column third first" data-category="combined">
    <a href="#">
      <div class="c-filter-nav__button-box">
        <h4 class="c-filter-nav__button-box--title name">Third First</h4>
      </div>
    </a>
  </div>
</div>


