{{> new-column}}
  <h2>Paragraph content</h2>
  <p>Depending on where the feature text sits within the page, please use whichever heading type is appropriate, in most cases you will use h3, h4, or h5 however all are supported.</p>
</div>

{{#repeat 2}}
{{> new-column column-width="two-thirds" new-column-class="o-layout--full-height"}}
  <p>Two thirds</p>
</div>
{{> new-column column-width="third" new-column-class="o-layout--full-height"}}
  <p>One thirds</p>
</div>
{{/repeat}}

{{#repeat 2}}
{{> new-column column-width="third" new-column-class="o-layout--full-height"}}
  {{> static-video-single}}
</div>
{{/repeat}}

{{> new-column column-width="third" new-column-class="o-layout--full-height"}}
  {{> static-media-object-single}}
</div>

{{#repeat 2}}
{{> new-column column-width="quarter" new-column-class="o-layout--full-height"}}
  <div class="c-promo-item is-dark">
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
      <p>I'm going to improvise. Listen, there's something you should know about me.</p>
      <footer><a href="#0" class="c-btn c-btn--hollow-light">Button</a></footer>
    </div>
  </div>
</div>


{{> new-column column-width="quarter" new-column-class="o-layout--full-height"}}
  <div class="c-promo-item">
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item</a></h2>
      <p>I'm going to improvise.</p>
      <footer><a href="#0" class="c-btn c-btn--hollow">Button</a></footer>
    </div>
  </div>
</div>
{{/repeat}}
  
{{> new-column column-width="third" new-column-class="o-layout--full-height"}}
  <div class="c-promo-item is-dark">
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
      <p>I'm going to improvise. Listen, there's something you should know about me.</p>
      {{> static-testing-inverse-colors}}
      <footer><a href="#0" class="c-btn c-btn--hollow-light">Button</a></footer>
    </div>
  </div>
</div>

{{> new-column column-width="third" new-column-class="o-layout--full-height"}}
  <div class="c-promo-item">
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item</a></h2>
      <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus.</p>
      {{> static-testing-inverse-colors}}
      <footer><a href="#0" class="c-btn c-btn--hollow">Button</a></footer>
    </div>
  </div>
</div>

{{> new-column column-width="third" new-column-class="o-layout--full-height"}}
  <div class="c-promo-item is-dark">
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
      <p>I'm going to improvise. Listen, there's something you should know about me... about inception.</p>
      <footer><a href="#0" class="c-btn c-btn--hollow-light">Button</a></footer>
    </div>
  </div>
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height"}}
  {{> static-autocomplete}}
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height"}}
  <div class="c-featured-content">
    <h2>Featured content</h2>
    <p>Depending on where the feature text sits within the page, please use whichever heading type is appropriate, in most cases you will use h3, h4, or h5 however all are supported. Depending on where the feature text sits within the page, please use whichever heading type is appropriate, in most cases you will use h3, h4, or h5 however all are supported. Depending on where the feature text sits within the page, please use whichever heading type is appropriate, in most cases you will use h3, h4, or h5 however all are supported. Depending on where the feature text sits within the page, please use whichever heading type is appropriate, in most cases you will use h3, h4, or h5 however all are supported.</p>
  </div>
</div>

{{> new-column column-width="half"}}
  <h2>Paragraph content</h2>
  <p>Depending on where the feature text sits within the page, please use whichever heading type is appropriate, in most cases you will use h3, h4, or h5 however all are supported.</p>
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height"}}
  <div class="c-promo-item">
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item</a></h2>
      <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
      <a href="#0" class="c-btn c-btn--hollow">Button</a>
    </div>
  </div>
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height"}}
  <div class="c-promo-item is-dark">
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
      <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
      <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
    </div>
  </div>
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height"}}
  <div class="c-rss-feed is-news">
    <h4 class="c-rss-feed__heading"><a href="#0">News</a></h4>
    {{#repeat 3}}
    <section class="c-rss-feed__item">
      <div class="c-rss-feed__section">
        <div class="c-rss-feed__date">
          <p>11</p>
          <p>Oct</p>
        </div>
      </div>
      <div class="c-rss-feed__section">
        <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
        <p>I'm going to improvise. Listen, there's something you should know about me...</p>
      </div>
    </section>
    {{/repeat}}
    <a href="#0" class="c-rss-feed__more">more...</a>
  </div>
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height"}}
  <div class="c-rss-feed is-events">
    <h4 class="c-rss-feed__heading"><a href="#0">Events</a></h4>
    {{#repeat 3}}
    <section class="c-rss-feed__item">
      <div class="c-rss-feed__section">
        <div class="c-rss-feed__date">
          <p>11</p>
          <p>Oct</p>
        </div>
      </div>
      <div class="c-rss-feed__section">
        <p class="c-rss-feed__title"><a href="#0">Events place Uni of Adelaide at heart of OzAsia</a></p>
        <p>I'm going to improvise. <a href="#0">anchor</a> Listen, there's something you should know about me...</p>
      </div>
    </section>
    {{/repeat}}
    <a href="#0" class="c-rss-feed__more">more...</a>
  </div>
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height"}}
  <div class="c-promo-item is-stacked">
    <div class="c-promo-item__section">
      <div class="c-promo-item__image-wrapper">
        <a href="#0" class="c-promo-item__image-link">
          <div class="c-promo-item__tag"><p>Hello</p></div>
          <img src="//via.placeholder.com/1166x875/">
        </a>
      </div>
    </div>
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item</a></h2>
      <p>I'm going to improvise. <a href="#0">anchor</a> Listen, there's something</p>
      <a href="#0" class="c-btn c-btn--hollow">Button</a>
    </div>
  </div>
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height"}}
  <div class="c-featured-content">
    <h2>Featured content</h2>
    <p>Depending on where the <a href="#0">anchor</a> feature text sits within the page, please use whichever heading type is appropriate, in most cases you will use h3, h4, or h5 however all are supported.</p>
  </div>
</div>

{{> new-column column-width="half" new-column-class="o-layout--full-height"}}
  <div class="c-promo-item is-stacked is-dark">
    <div class="c-promo-item__section">
      <div class="c-promo-item__image-wrapper">
        <a href="#0" class="c-promo-item__image-link">
          <div class="c-promo-item__tag"><p>Hello</p></div>
          <img src="//via.placeholder.com/1166x875/">
        </a>
      </div>
    </div>
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
      <p>I'm going to improvise. <a href="#0">anchor</a> Listen, there's something</p>
      <a href="#0" class="c-btn c-btn--secondary">Button</a>
    </div>
  </div>
</div>

{{> new-column}}
{{> static-autocomplete}}
</div>

{{> new-column}}
  <h2>Paragraph content</h2>
  <p>Depending on where the feature text <a href="#0">anchor</a> sits within the page, please use whichever heading type is appropriate, in most cases you will use h3, h4, or h5 however all are supported.</p>
</div>

{{> new-column}}
  <div class="c-featured-content">
    <h2>Featured content</h2>
    <p>Depending on where the feature <a href="#0">anchor</a> text sits within the page, please use whichever heading type is appropriate, in most cases you will use h3, h4, or h5 however all are supported.</p>
  </div>
</div>
  
{{> new-column}}
  <div class="c-promo-item">
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item</a></h2>
      <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
      <a href="#0" class="c-btn c-btn--hollow">Button</a>
    </div>
  </div>
</div>

{{> new-column}}
  <div class="c-promo-item is-dark">
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
      <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
      <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
    </div>
  </div>
</div>

{{> new-column}}
  {{> static-media-object-single not-stacked="true"}}
</div>

{{> new-column}}
  <div class="c-promo-item">
    <div class="c-promo-item__section">
      <div class="c-promo-item__image-wrapper">
        <a href="#0" class="c-promo-item__image-link">
          <div class="c-promo-item__tag"><p>Hello</p></div>
          <img src="//via.placeholder.com/1166x875/">
        </a>
      </div>
    </div>
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item</a></h2>
      <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
      <a href="#0" class="c-btn c-btn--hollow">Button</a>
    </div>
  </div>
</div>

{{> new-column}}
  <div class="c-promo-item is-dark">
    <div class="c-promo-item__section">
      <div class="c-promo-item__image-wrapper">
        <a href="#0" class="c-promo-item__image-link">
          <div class="c-promo-item__tag"><p>Hello</p></div>
          <img src="//via.placeholder.com/1166x875/">
        </a>
      </div>
    </div>
    <div class="c-promo-item__section c-promo-item__section--content">
      <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
      <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
      <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
    </div>
  </div>
</div>

{{> new-column}}
  <div class="c-promo-item is-stacked">
    <div class="c-promo-item__section">
      <div class="c-promo-item__image-wrapper">
        <a href="#0" class="c-promo-item__image-link">
          <div class="c-promo-item__title"><p>Promo item</p></div>
          <img src="//via.placeholder.com/1166x290/">
        </a>
      </div>
    </div>
  </div>
</div>

{{> new-column}}
  <div class="o-layout__content-row collapse-gutters">
    
    {{#repeat 2}}
    {{> new-column column-width="quarter" new-column-class="o-layout--full-height collapse-gutters"}}
      <div class="c-promo-item is-dark">
        <div class="c-promo-item__section c-promo-item__section--content">
          <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
          <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me.</p>
          <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
        </div>
      </div>
    </div>
    {{> new-column column-width="quarter" new-column-class="o-layout--full-height collapse-gutters"}}
      <div class="c-promo-item">
        <div class="c-promo-item__section c-promo-item__section--content">
          <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
          <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me.</p>
          <a href="#0" class="c-btn c-btn--hollow">Button</a>
        </div>
      </div>
    </div>
    {{/repeat}}

    {{> new-column column-width="third" new-column-class="o-layout--full-height collapse-gutters"}}
      <div class="c-promo-item is-dark">
        <div class="c-promo-item__section c-promo-item__section--content">
          <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
          <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me.</p>
          <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
        </div>
      </div>
    </div>
    {{> new-column column-width="third" new-column-class="o-layout--full-height collapse-gutters"}}
      <div class="c-promo-item">
        <div class="c-promo-item__section c-promo-item__section--content">
          <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
          <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me.</p>
          <a href="#0" class="c-btn c-btn--hollow">Button</a>
        </div>
      </div>
    </div>
    {{> new-column column-width="third" new-column-class="o-layout--full-height collapse-gutters"}}
      <div class="c-promo-item is-dark">
        <div class="c-promo-item__section c-promo-item__section--content">
          <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
          <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me.</p>
          <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
        </div>
      </div>
    </div>

    {{> new-column column-width="half" new-column-class="o-layout--full-height collapse-gutters"}}
      <div class="c-promo-item is-dark">
        <div class="c-promo-item__section c-promo-item__section--content">
          <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
          <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me.</p>
          <a href="#0" class="c-btn c-btn--hollow-light">Button</a>
        </div>
      </div>
    </div>
    {{> new-column column-width="half" new-column-class="o-layout--full-height collapse-gutters"}}
      <div class="c-promo-item">
        <div class="c-promo-item__section c-promo-item__section--content">
          <h2 class="c-promo-item__heading"><a href="#0">Promo item dark</a></h2>
          <p>I'm going to improvise. Listen, <a href="#0">anchor</a> there's something you should know about me.</p>
          <a href="#0" class="c-btn c-btn--hollow">Button</a>
        </div>
      </div>
    </div>
    
  </div>
</div>
