<form class="c-form">
    <label class="c-btn">Upload File
      <input name="" type="file" class="c-form--hidden">
    </label>
    <label for="exampleFileUpload" class="c-btn">Upload File</label>
    <input name="" type="file" id="exampleFileUpload" class="c-form--hidden">
    <label>Input Label
      <input type="text" placeholder="hello" aria-describedby="exampleHelpText">
    </label>
    <p class="c-form__help-text" id="exampleHelpText">Here's how you use this input field!</p>
    <label>
      How many puppies?
      <input type="number" value="100">
    </label>
    <label>
      What books did you read over summer break?
      <textarea placeholder="None"></textarea>
    </label>
    <label>Select Menu
      <select>
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
      </select>
    </label>
    <div class="c-form__row has-three-columns">
      <div class="c-form__column">
        <label>Input Label
          <input type="text" placeholder="hello" aria-describedby="exampleHelpText">
        </label>
      </div>
      <div class="c-form__column">
        <label>Input Label
          <input type="text" placeholder="hello" aria-describedby="exampleHelpText">
        </label>
      </div>
      <div class="c-form__column">
        <label>Input Label
          <input type="text" placeholder="hello" aria-describedby="exampleHelpText">
        </label>
      </div>
    </div>
    <div class="c-form__row">
      <fieldset class="c-form__column">
        <div class="u-inline-label-wrapper">
          <legend>Choose Your Favorite</legend>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Red</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
          <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</label>
        </div>
      </fieldset>
      <fieldset class="c-form__column">
        <div class="u-inline-label-wrapper">
          <legend>Check these out</legend>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</label>
          <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
        </div>
      </fieldset>
    </div>
    <div class="c-form__row">
      <div class="c-form__inline-columns--left">
        <label for="middle-label" class="">Label</label>
      </div>
      <div class="c-form__inline-columns--right">
        <input type="text" id="middle-label" placeholder="Right- and middle-aligned text input">
      </div>
      <div class="c-form__inline-columns--left">
        <label for="middle-label" class="c-form__inline-columns-label--middle-right">Label</label>
      </div>
      <div class="c-form__inline-columns--right">
        <input type="text" id="middle-label" placeholder="Right- and middle-aligned text input">
      </div>
    </div>
    <div class="c-form__row">
      <div class="c-form__inline-columns--left">
        <label for="middle-label" class="c-form__inline-columns-label--middle">Label</label>
      </div>
      <div class="c-form__inline-columns--right">
        <input type="text" id="middle-label" placeholder="Right- and middle-aligned text input">
      </div>
    </div>
    <div class="c-form__row">
      <div class="c-form__inline-columns--left">
        <label for="middle-label" class="c-form__inline-columns-label--right">Label</label>
      </div>
      <div class="c-form__inline-columns--right">
        <input type="text" id="middle-label" placeholder="Right- and middle-aligned text input">
      </div>
    </div>
    <div class="c-form__input-group">
      <span class="c-form__input-group-label">$</span>
      <input class="c-form__input-group-field" type="url">
      <div class="c-form__input-group-button">
        <button class="c-form__button" type="submit" title="Search">Search</button>
      </div>
    </div>
    <div class="u-inline-label-wrapper">
      <input type="radio" name="pokemon" value="Goo" id="pokemonGoo" required><label for="pokemonGoo">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</label>
    </div>
    <div class="u-inline-label-wrapper">
      <label><input type="radio" name="pokemon" value="Gaa" required>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</label>
    </div>
    <div class="c-form__row">
      <fieldset class="c-form__column">
        <button class="c-form__button" type="submit" value="Submit">Submit</button>
      </fieldset>
      <fieldset class="c-form__column">
        <button class="c-form__button" type="reset" value="Reset">Reset</button>
      </fieldset>
    </div>
  </form>
  