<!-- Pager -->
<ul class="c-pager" role="navigation" aria-label="Pagination">
  <li class="c-pager__previous"><a href="#0" aria-label="Previous page">Previous<span class="c-pager--hidden"> page</span></a></li>
  <li class="c-pager__next"><a href="#0" aria-label="Next page">Next<span class="c-pager--hidden"> page</span></a></li>
</ul>
<ul class="c-pager" role="navigation" aria-label="Pagination">
  <li class="c-pager__previous is-disabled">Previous<span class="c-pager--hidden"> page</span></li>
  <li class="c-pager__next is-disabled">Next<span class="c-pager--hidden"> page</span></li>
</ul>
