<nav class="c-services-menu__container js-services-menu" id="ua-services-menu" data-off-canvas>
  <ul class="c-services-menu">
    <h3 class="c-services-menu__heading">Services menu</h3>
    <li class="c-services-menu__item"><a href="#0" class="c-services-menu__login"><i class="fa fa-sign-in fa-fw" aria-hidden="true"></i> Login</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Student Mail</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i> MyUni</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-university fa-fw" aria-hidden="true"></i> MyLibrary</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-play fa-fw" aria-hidden="true"></i> MyMedia</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-lock fa-fw" aria-hidden="true"></i> Access Adelaide</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-arrow-circle-up fa-fw" aria-hidden="true"></i> ADAPT</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-shopping-cart fa-fw" aria-hidden="true"></i> Online Shop</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-credit-card-alt fa-fw" aria-hidden="true"></i> Bank Details</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-key fa-fw" aria-hidden="true"></i> Password Manager</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-building fa-fw" aria-hidden="true"></i> Hub Room Booking</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-globe fa-fw" aria-hidden="true"></i> Study Abroad</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-users fa-fw" aria-hidden="true"></i> CS Forums</a></li>
    <li class="c-services-menu__item"><a href="#0"><i class="fa fa-exchange fa-fw" aria-hidden="true"></i> Credit transfer</a></li>
  </ul>
  <button class="c-services-menu__close-button" data-close aria-label="Close menu" type="button">
    Services menu
    <span aria-hidden="true">&times;</span>
  </button>
  <a href="static.html" class="c-btn c-btn--block c-btn--secondary"><i class="fa fa-undo"></i> Static home</a>
</nav>
