<div class="c-autocomplete__wrapper js-autocomplete__search-wrapper">
  <div class="c-autocomplete">
    <h2>Find what you're looking for</h2>
    <p>Lorem Ipsum is simply <a href="dummy1.html">dummy text of the</a>.</p>
    <form method="get" action="">
      <div class="c-autocomplete__input-group">
        <input class="c-autocomplete__input-group-field" name="autocomplete" placeholder="Search" type="text">
        <div class="c-autocomplete__input-group-button">
          <button class="c-autocomplete__button" type="submit" title="Search">Search</button>
        </div>
      </div>
    </form>
    <p>Lorem Ipsum is simply <a href="dummy2.html">dummy text of the</a>.</p>
  </div>

  {{#unless hide-autocomplete-lists}}
  <ul>
    <li><a href="California.html">California</a></li>
    <li><a href="Camarasaurus.html">Camarasaurus</a></li>
    <li><a href="Canada.html">Canada</a></li>
    <li><a href="Camouflage.html">Camouflage</a></li>
    <li><a href="Calculator.html">Calculator</a></li>
  </ul>

  <ul>
    <li><a href="Gandhi.html">Gandhi</a></li>
    <li><a href="Georgia.html">Georgia</a></li>
    <li><a href="Ghost.html">Ghost</a></li>
    <li><a href="Garden.html">Garden</a></li>
    <li><a href="Galaxy.html">Galaxy</a></li>
  </ul>

  <ul>
    <li><a href="Iceberg.html">Iceberg</a></li>
    <li><a href="Ice-cream.html">Ice Cream</a></li>
    <li><a href="Iced-tea.html">Iced Tea</a></li>
    <li><a href="Iguana.html">Iguana</a></li>
    <li><a href="Illusion.html">Illusion</a></li>
  </ul>

  <ul>
    <li><a href="Quartz.html">Quartz</a></li>
    <li><a href="Quilt.html">Quilt</a></li>
    <li><a href="Quicksand.html">Quicksand</a></li>
    <li><a href="Quarter.html">Quarter</a></li>
    <li><a href="Question.html">Question</a></li>
  </ul>
{{/unless}}
</div>
